<div class="page page-1">
    <div class="container">
        <h1>
           𝑨𝑳𝑴𝑶𝑺𝑻 𝑯𝑨𝑽𝑬𝑵 𝑪𝑨𝑲𝑬𝑺
        </h1>
        <p>
       𝘚𝘸𝘦𝘦𝘵 𝘢𝘯𝘥 𝘩𝘦𝘢𝘭𝘵𝘩𝘺
        </p>
        <div class="flex-btn">
            <a href="/aboutus"><button>𝑨𝑩𝑶𝑼𝑻</button></a>
            <a href="/menu"><button id="online-btn">𝑴𝑬𝑵𝑼</button></a>
        </div>
         </div>
</div>